@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ddffcc;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}

.pad-section img {
	width: 100%;
}

#ergebnisse50M {
	background-color: #ddffcc;
}

#ergebnisse100M {
	background-color: #ddffcc;
}

#ergebnisseWW {
	background-color: #ddffcc;
}

#ergebnisseWS {
	background-color: #ddffcc;
}